#root {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Two-panel layout adjustments */
.layout-container {
  display: flex;
  height: 100%;
}

.panel-left {
  flex: 0 0 33.333%;
  min-width: 300px;
  border-right: 1px solid;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.panel-right {
  flex: 1;
  overflow: hidden;
}
