@import "tailwindcss";

:root {
  --background: 0 0% 8%;
  --foreground: 0 0% 98%;

  --card: 0 0% 12%;
  --card-foreground: 0 0% 98%;

  --border: 0 0% 20%;
  --muted: 0 0% 65%;
}


body {
  @apply bg-[hsl(var(--background))] text-[hsl(var(--foreground))];
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}